nav {
    width: calc(100% - 147px);
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
}

nav ul {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: inherit;
    right: 0;
    top: 0;
    position: fixed;
}
nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
